<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header titulo="Botones Page"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>

  <!-- <ion-buttons slot="end">
    <ion-button (click)="onAction()" color="danger">
      <ion-icon slot="icon-only"
                  [name]="favorito?'heart':'heart-outline'"></ion-icon>
    </ion-button>
  </ion-buttons> -->

  
  <ion-content [fullscreen]="true" class="ion-padding">
    
    <ion-button>Default</ion-button>
    <ion-button color="primary">Primary</ion-button>
    <ion-button color="secondary">Secondary</ion-button>
    <ion-button color="tertiary">Tertiary</ion-button>
    <ion-button color="success">Success</ion-button>
    <ion-button color="warning">Warning</ion-button>
    <ion-button color="danger">Danger</ion-button>
    <ion-button color="light">Light</ion-button>
    <ion-button color="medium">Medium</ion-button>
    <ion-button color="dark">Dark</ion-button>
  
    <ion-button>Default</ion-button> <ion-button [disabled]="true">Disabled</ion-button>
  
  
    <ion-button expand="block">Block</ion-button> <ion-button expand="full">Full</ion-button>
  
  
    <ion-button>Default</ion-button> <ion-button shape="round">Round</ion-button>
  
  
    <ion-button>Default</ion-button>
  <ion-button fill="clear">Clear</ion-button>
  <ion-button fill="outline">Outline</ion-button>
  <ion-button fill="solid">Solid</ion-button>
  
  <ion-button size="small">Small</ion-button>
  <ion-button size="default">Default</ion-button>
  <ion-button size="large">Large</ion-button> 


</ion-content>
