<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header titulo="Card Page"></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-card mode="ios" color="primary">
  
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
  
    <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin-outline"></ion-icon>
          <ion-label>
            <p>Pizza</p>
            <h2>Hawaii</h2>
          </ion-label>
        </ion-item>
  
        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, atque odio. Deserunt minus iste et molestiae provident vitae. Quia ipsa similique facere optio, reiciendis culpa beatae? Quod deleniti illo quibusdam.
        </ion-card-content>
  
    </ion-card>
  
    <ion-card>
      <img src="../../assets/shapes.svg" alt="">
    </ion-card>

</ion-content>
